{% extends 'base.html' %}

{% block content %}
{% load static %}

<main class="container">
    <div class="row">
        <div>
            
    <form action="/task/create/" method="POST" class="card card-body">
    <h1 class="text-center ">CREAR TAREA</h1>
            {{error}}
            {% csrf_token %}
            {{form}}
            <h1 class="text-center"> 
                <button class="btn btn-dark">
                <img src="{% static 'source/icons/guardar.png' %}"" alt="">
            </button>
        </h1>
   

</form>
            
        </div>
    </div>
</main>
{% endblock %}