{% extends 'base.html' %}

{% block content %}
<main class=" container py-5">
    <section class="card card-body">
        <H1 class="display-1 text-center" >GIGA TASK MANAGER</H1>
        <p> GIGA TASK MANAGER sirva para agendar tareas pendientes, completarlas y llevar un registros de las mismas. es una app web que utiliza django para el backend y boostrap 5 para fronted Desarrollado por Emilio Fleitas
            PRUEBALA! 
        </p>
        <div class="text-center">
            <a class="btn btn-dark" href="/signup/">
                REGISTRATE
            </a>
            <h6> O si ya tenes cuenta?</h6>
            <a class="btn btn-dark" href="/signin/">
                Iniciar sesion
            </a>
        </div>
        </section>
      
</main>
{% endblock %}
