{% extends 'base.html' %}

{% block content %}
<H1>home</H1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, error, et quasi quam impedit dolorem quidem aliquid atque, quod similique eum! Sit consequatur cum est id reiciendis sed, temporibus quia officia vitae praesentium animi nostrum. Voluptates animi reprehenderit enim, beatae nisi laudantium ullam id voluptate eligendi a perspiciatis tempore iure? Assumenda hic aut iusto corporis voluptate voluptatibus dolore illum ipsam nam, non sit error consectetur. Nihil cupiditate vero modi sapiente labore ad distinctio, numquam odit quisquam pariatur impedit! Ipsum tempore vel animi ipsam voluptates quas iusto rem, quos nesciunt! A libero cupiditate at excepturi ipsam reprehenderit provident sit, sint error?</p>
{% endblock %}
