{% extends 'base.html' %}

{% block content %}

<main class="container ">
   <div class="row">
    <div class="col-md-4 offset-4">
        <form action="/signup/" method="post" class="card card-body">
            <h1 class="text-xxl-center">REGISTRATE</h1>
            {%csrf_token%}
            {{error}}
            <div class="mb-3">
                <label for="username" id="username">Nombre de Usuario:</label>
                <input type="text" name="username" class="form-control" placeholder="Escribe tu nombre de usuario">
            </div>
            <div class="mb-3">
                <label for="password1" id="password1">Contrasenha:</label>
                <input type="password" name="password1" class="form-control" placeholder="Escribe tu Contrasenha">
            </div>
            <div class="mb-3">
                <label for="password2" id="password2"> Vuelve a ingresar la Contrasenha:</label>
                <input type="password" name="password2" class="form-control" placeholder="Confirma tu Contrasenha">
            </div>
            <button class="btn btn-dark">
                signup
            </button>
        
        </form>
    </div>
   </div>

</main>
{% endblock %}

